/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #5B888C;
$presentation-title-slide-text-align: "left";

/*-- scss:rules --*/

details>summary {
  font-size: 0.75em;
}

.small {
  font-size: 0.75em;
}

.reveal .slide .question {
  border-left: 3px solid #5B888C;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #D9E3E4;
}

.reveal .slide .poll {
  border-left: 3px solid #FFD166;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #FFEDC2;
}

.reveal .slide .appex {
  border-left: 3px solid #003559;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #EBF7FF;
}

.reveal .slide-logo {
  height: 75px !important;
  width: 75px !important;
  max-width: unset !important;
  max-height: unset !important;
}

div.theorem, div.example, div.proof, div.definition, div.lemma, .thpart {
  padding: 1em 1em 0em 1em;
  margin-top: 10px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius:4px;
}



div.theorem p:nth-child(1), div.example p:nth-child(1), div.proof p:nth-child(1), div.definition p:nth-child(1), div.lemma p:nth-child(1), .thpart p:nth-child(1), .mysummary p:nth-child(1), .mysched p:nth-child(1), .myanswers p:nth-child(1), .myq p:nth-child(1), .oldsched p:nth-child(1) {
  text-indent: 0px;
}